<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/../main.css">
        <title>Library Database</title>
    </head>
    <body>
        <div class="container">
            <h2>{{ book.getBookName }} by {{ author.getAuthorName }}</h2>
            <ul class="nav nav-tabs" style="margin-bottom: 30px;">
                <li role="presentation"><a href="/">Home</a></li>
                <li role="presentation"><a href="/authors">Author Search</a></li>
                <li role="presentation"><a href="/books">Book Search</a></li>
                <li role="presentation"><a href="/addbook">Add a Book</a></li>
                <li role="presentation" class="active"><a href="/books">Checkout/In Book</a></li>
            </ul>
            <ul class="list-group">Copies of {{ book.getBookName }}:
                {% for thebook in book_list %}
                    {% if thebook.getDueDate is null %}
                        <li class="list-group-item"> Book Copy ID: {{ thebook.getId }}<span class="badge tc"><a href="/booklist/{{ thebook.getId }}/out/">Checkout</a></span></li>
                    {% else %}
                        <li class="list-group-item"> Book Copy ID: {{ thebook.getId }} checked out.  It is due back on {{ thebook.getDueDate }}<span class="badge tc"><a href="/booklist/{{ thebook.getId }}/in/">Checkin</a></span></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <br>
            <a href="/">Home</a>
        </div>
    </body>
</html>
